<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>weixinServlet</servlet-name>
		<servlet-class>com.tian.servlet.WeixinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>weixinServlet</servlet-name>
		<url-pattern>/wx.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BusApi</servlet-name>
		<servlet-class>com.tian.servlet.BusApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusApi</servlet-name>
		<url-pattern>/servlet/BusApi</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>TestApi</display-name>
		<servlet-name>TestApi</servlet-name>
		<servlet-class>com.tian.servlet.TestApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestApi</servlet-name>
		<url-pattern>/servlet/TestApi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CQBusApi</display-name>
		<servlet-name>CQBusApi</servlet-name>
		<servlet-class>com.tian.servlet.CQBusApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CQBusApi</servlet-name>
		<url-pattern>/servlet/CQBusApi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CSBusApi</display-name>
		<servlet-name>CSBusApi</servlet-name>
		<servlet-class>com.tian.servlet.CSBusApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSBusApi</servlet-name>
		<url-pattern>/servlet/CSBusApi</url-pattern>
	</servlet-mapping>
</web-app>